.boxes {
    border: none;

}

.container1 {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    

}


#name {
    float: right;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#student {
    font-size: 15px;
    color: rgb(59, 59, 246);
}

#link {
    text-decoration: none;
    color: rgb(59, 59, 246)
}

#img {
    height: 180px;
    padding: 4%;
    object-fit: cover;
    border-radius: 15%;

}

#box2 {
    background-color: rgb(64, 61, 61);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(222, 228, 234);
    padding: 4%;
    width: 22.1%;
    /* display: block;
     */
     
    

}

#box1 {
    background-color: rgb(64, 61, 61);
    color: rgb(222, 228, 234);
}

#box3 {
    font-size: 16px;
    background-color: rgb(64, 61, 61);
    color: rgb(222, 228, 234);
    padding: 1%;
    /* align-self: self-end; */
   /* flex-basis: 500px;
    */
    width: 54%;
}

#box4 {
    background-color: rgb(64, 61, 61);
    color: rgb(222, 228, 234);
    align-self: ;
}